/* Fundo */
body {
  margin: 0;
  height: 100vh;
  background: url("../Images/fundocontagem.jpg") center/cover no-repeat;
  font-family: 'Georgia', serif;
  color: white;
}

/* Camada escura */
.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Logo */
.logo {
  width: 350px;
  margin-bottom: 20px;
}

/* Título com linhas */
.title-line {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 35px;
  margin-top: -35px;
}

/* Linhas Laterais */
.line {
  width: 200px;
  height: 2px;
  background: white;
}

h2 {
  font-weight: bold;
  letter-spacing: 2px;
}

/* Contador grande */
.countdown {
  font-size: 100px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 20px;
  margin-top: -25px;
}

/* Separador : */
.separator {
  font-size: 100px;
}

/* Data pequena */
.date {
  font-size: 20px;
  margin-bottom: 40px;
}

/* Botão */
.btn {
  text-decoration: none; 
  background: transparent;
  border: 2px solid white;
  padding: 12px 40px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 25px;
}

.btn:hover {
  background:#2c88b0;
  color:white;
}